/* Basic styles for the navbar
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    height: 60px;
  }
  .navbar-text {
    background: linear-gradient(to right, rgb(41, 155, 216), rgb(18, 98, 175));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navbar .fa-bell {
    font-size: 18px;
    color: white;
  }
  .navbar.fa-user-astronaut{
    font-size: 24px;
  }
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}

/* Responsive styles for mobile view */
/* @media (max-width: 768px) {
    .navbar-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        background-color: #333;
        transition: height 0.4s ease-in-out;
    }

    .navbar-links.open {
        height: 200px;
    }

    .navbar-links li {
        margin: 20px 0;
    }

    .navbar-toggle {
        display: flex;
    }
} */ 
.navbar-text {
    background: linear-gradient(to right, rgb(41, 155, 216), rgb(18, 98, 175));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }